@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: fit-content;
    background: url("bg2.jpg");
    /* background: rgb(30, 29, 29); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
